html,
body {
  display: -webkit-box;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(36, 36, 36);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tg-list {
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.tg-list-item {
  margin: 15px 1.38rem 8px 1.78rem;
  width: 50px;
}

h2 {
  color: #777;
}

.title {
  color: #cacaca;
  cursor: help;
  font-size: 14px;
  position: relative;
  top: -10px;
}

h5 {
  color: #cacaca;
  cursor: default;
  text-align: center;
  width: 100%;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
    background: #824c4c;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #3e0707;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #365a3c;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}


.container{
    height: 100%;
    border-left: 5px solid rgb(26, 26, 26);
    border-right: 5px solid rgb(26, 26, 26);
}


.top{
    height: 30px;
    width: 100%;
    background-color: rgb(26, 26, 26);
    text-align: center;
}

.top span{
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    color: #cacaca;
}

.bottom{
    margin-top: 0px;
    height: 5px;
    width: 100%;
    background-color: rgb(26, 26, 26);
}

.button {
    background: #4c6282;
    border-radius: 2em;
    padding: 3px 8px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #070f3e;
    color: white;
    outline: 0;
}

.button:active, .button:hover{
    background: #2e4669;
    border: 1px solid #070f3e;

}

.bar{
  height: 30px;
  width: 100%;
}

.bar.underline{
  border-bottom: 2px solid #1a1a1a;
}

.bar a{
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  width: 50%;
  float: left;
} 
#options{
  width: 25%;
  display: none;
}

#custom{
  display: none;
  width: 40%;
}

#check{
  width: 100%;
  background-color: #5dff5d40;
}

#check:hover{
  background-color: #3d943d40;
}

#backBtn{
  width: 100%;
  background-color: #ff5d5d40;
}


#backBtn:hover{
  background-color: #943d3d40;
}

#connectBtn{
  width: 100%;
  background-color: #5d83ff40;
}


#connectBtn:hover{
  background-color: #433d9440;
}


#gameLink{
  color: lightblue;
}



#updateBtn{
  background-color: #5dff5d40;
}

#updateBtn:hover{
  background-color: #3d943d40;
}


#defaultBtn{
  background-color: #fcff5d40;
}

#defaultBtn:hover{
  background-color: #948e3d40;
}

.bar:first-child{
  width: 40%;
}

.bar a:hover{
  background-color: rgba(0, 0, 0, 0.219);
}

.bar a.active{
  background-color: rgba(0, 0, 0, 0.219);
}

.body{
  display: none;
  padding: 10px;
}

.body.edit{
  width: 250px;
}

.body.active{
  display: block;
}

h5{
  color: #cacaca;
  cursor: default;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 0.9rem;
   padding: 8px 0 0 0;
   display: inline-block;
}


input[type="submit"]{
  margin: 0;
  padding: 4px;
  outline: 0;
  border: 1px solid rgb(255, 113, 0);
  color: rgb(255, 153, 0);
  background-color: transparent;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus{
  color: rgb(26, 26, 26);
  background-color: rgb(255, 113, 0);
}


.item-hide.active{
  display: none;
}


.hide{
  display: none !important;
}


.editIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
  fill: white;
  top: 0;
}


.editIcon:hover{
  cursor: pointer;
  fill: #00ff0079;
}


#editMessage{
  width: calc(100% - 10px);
  resize: none;
  height: 70px;
  padding: 4px;
  background-color: rgba(43, 43, 43, 0.5);
  color: white;
  border-color: rgba(36, 91, 243, 0.514);
}

#timer{
  background-color: rgba(43, 43, 43, 0.5);
  color: white;
  border-color: rgba(36, 91, 243, 0.514);
  padding: 4px;
  width: 50px;
}


#customPanel table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 5px;
}

#customPanel table th, #customPanel table td{
  border: 1px solid white;
  color: white;
  padding: 4px;
  text-align: center;
}



#loadingPanel .loader {
  margin-top: 15px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
